---
import Layout from '../layouts/Layout.astro';
import CabeceraCategorias from '../components/CabeceraCategorias.astro';
import CuadriculaCategorias from '../components/CuadriculaCategorias.astro';
import EditorCategorias from '../components/EditorCategorias';
---

<Layout>
  <div class="pagina-categorias">
    <CabeceraCategorias />
    <CuadriculaCategorias />
    <EditorCategorias client:load />
  </div>
</Layout>
