---
import Layout from '../layouts/Layout.astro';
import CabeceraCategorias from '../components/CabeceraCategorias.astro';
import CuadriculaCategorias from '../components/CuadriculaCategorias.astro';
import EditorCategorias from '../components/EditorCategorias.astro';
---

<Layout>
  <div class="pagina-categorias">
    <CabeceraCategorias />
    <CuadriculaCategorias />
    <EditorCategorias />
  </div>
</Layout>
