---
import Layout from '../layouts/Layout.astro';
import MetricasHero from '../components/MetricasHero.astro';
import CuadriculaStats from '../components/CuadriculaStats.astro';
import GraficoPrincipal from '../components/GraficoPrincipal.astro';
import RegistroActividad from '../components/RegistroActividad.astro';
---

<Layout>
  <div class="panel-principal">
    <MetricasHero />
    <CuadriculaStats />
    <div class="panel-principal__paneles">
      <GraficoPrincipal />
      <RegistroActividad />
    </div>
  </div>
</Layout>
