---
import Layout from '../layouts/Layout.astro';
import CabeceraIngresos from '../components/CabeceraIngresos.astro';
import CintaMetricas from '../components/CintaMetricas.astro';
import TablaIngresos from '../components/TablaIngresos.astro';
import PanelCrecimiento from '../components/PanelCrecimiento.astro';
import PaginacionTerminal from '../components/PaginacionTerminal.astro';
import ModalIngreso from '../components/ModalIngreso.astro';
---

<Layout>
  <div class="pagina-ingresos">
    <CabeceraIngresos />
    <CintaMetricas />
    <div class="pagina-ingresos__contenido">
      <div>
        <TablaIngresos />
        <PaginacionTerminal />
      </div>
      <PanelCrecimiento />
    </div>
    <ModalIngreso />
  </div>
</Layout>
