---
import Layout from '../layouts/Layout.astro';
import CabeceraPrestamos from '../components/CabeceraPrestamos.astro';
import ResumenPrestamos from '../components/ResumenPrestamos.astro';
import TablaAmortizacion from '../components/TablaAmortizacion.astro';
import GraficoAmortizacion from '../components/GraficoAmortizacion.astro';
import CalculadoraPagos from '../components/CalculadoraPagos.astro';
import ModalDeuda from '../components/ModalDeuda';
---

<Layout>
  <div class="pagina-prestamos">
    <CabeceraPrestamos />
    <ResumenPrestamos />
    <div class="pagina-prestamos__contenido">
      <TablaAmortizacion />
      <div class="pagina-prestamos__sidebar">
        <GraficoAmortizacion />
        <CalculadoraPagos />
      </div>
    </div>
    <ModalDeuda client:load />
  </div>
</Layout>
