---
---

<div class="calculadora-pagos">
  <span class="calculadora-pagos__titulo">Repayment Calculator</span>

  <div class="calculadora-pagos__grupo">
    <div class="calculadora-pagos__etiqueta">
      <span>Pago adicional mensual</span>
      <span class="calculadora-pagos__valor" id="pago-valor">$500</span>
    </div>
    <input type="range" class="calculadora-pagos__slider" id="pago-slider" min="0" max="2000" step="50" value="500" />
  </div>

  <div class="calculadora-pagos__grupo">
    <div class="calculadora-pagos__etiqueta">
      <span>Plazo estimado (años)</span>
      <span class="calculadora-pagos__valor" id="plazo-valor">7</span>
    </div>
    <input type="range" class="calculadora-pagos__slider" id="plazo-slider" min="1" max="15" step="1" value="7" />
  </div>

  <div class="calculadora-pagos__resultado">
    <div class="calculadora-pagos__resultado-item">
      <span>Ahorro en intereses</span>
      <span class="calculadora-pagos__resultado-valor" id="ahorro-valor">$18,420.00</span>
    </div>
    <div class="calculadora-pagos__resultado-item">
      <span>Nuevo total a pagar</span>
      <span class="calculadora-pagos__resultado-valor" id="total-valor">$228,930.00</span>
    </div>
  </div>
</div>
